@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// html { overflow: hidden; }
h1 {
    z-index: 1;
    position: absolute;
    top: -30px;
    right: 40px;
    font-family: 'Montserrat';
    font-size: 6em;
    letter-spacing: 0.25em;
    color:chocolate;
}
svg {
    position: absolute;
    bottom: 0;
}

.Cloud {
    position: absolute;
    left: -250px;
    animation: cloudFloat 30s linear infinite; //30 SECS
}

.C1, .C2 { animation-duration: 35s; } //35 SECS

.C1 { animation-delay: 3s; } //3 SECS
.C2 { animation-delay: 16s; } //16 SECS
.C4 { animation-delay: 18s; } //18 SECS
.C5 { animation-delay: 8s; } //8 SECS

@keyframes cloudFloat {
    from {transform: translateX(0);}
    to {transform: translateX(2500px);}
}


.NightTime {
    opacity: 0;
    animation: DayCycle 40s ease-in-out alternate infinite;
}

@keyframes DayCycle {
    from {opacity: 0;}
    to {opacity: 1;}
}

.Lights {
    opacity: 0;
    animation: LightsOn 80s linear infinite;
}

@keyframes LightsOn {
    0% {opacity: 0;}
    35% {opacity: 0;}
    50% {opacity: 1;}
    65% {opacity: 0;}
    100% {opacity: 0;}
}

// #Clock_Hands {
//     max-height: 86px;
//     max-width: 86px;
// }

// .CH1, .CH2 {
//     position: absolute;
//     animation: clockHandleRotate 6s linear infinite; //6 SECS
// }

// .CH2 { animation-duration: 60s; } //60 SECS

// @keyframes clockHandleRotate {
//     from {transform: rotate(0deg, 0, 0);}
//     to {transform: rotate(360deg, 0, 0);}
// }

    // transform: translate(686.7612, 414.6018);
    // from {transform: rotate(0deg, 686.7612px, 414.6018px);}
    // to {transform: rotate(360deg, 686.7612px, 414.6018px);}

// body {
//   background-color: rgb(33, 33, 33);
//   background-image: url("london-skyline.svg");
//   background-size: cover;
// }